body {
    /*Da el color de fondo al body*/
    background: #6FA2FF;
    margin: 0;
    padding: 0;
}

nav {
    /*Da el color de fondo a la primera seccion*/
    background: #026aa7;
    /*outline: 5px solid black;*/
}

#search {
    /*Da estilo al icono de search*/
    height: 20px;
    margin: 10px 0px 0px 40px;
}

#margin {
    /*ajusta el texto Tableros de la izquierda*/
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.iconos>.circle>#ch {
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
    margin: 7px;
    padding: 0;
}

.board {
    /*Da estilo al bloque azul de la izquierda*/
    vertical-align: middle;
    background-color: #9FB7FF;
    width: 120px;
    border-radius: 5px;
    height: 35px;
    display: inline-block;
    margin: -10px 15px 10px 15px;
}

.board>p {
    /*Da estilo al texto tableros*/
    display: inline-block;
    font-weight: bold;
    color: white;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.board>img {
    /*Da estilo al icono al lado del texto tableros*/
    height: 20px;
    margin: 7px 7px;
    vertical-align: middle;
}

.iconos-fondo>img {
    /*Da el tamaño a los iconos de la derecha*/
    height: 20px;
    margin: 7px 7px;
}

.logo-trello>img {
    /*Da el tamaño al logo de trello*/
    height: 35px;
}

.iconos-fondo {
    /*Da estilo a los divs que sirven como fondo a los iconos de la derecha*/
    background-color: #9FB7FF;
    width: 35px;
    border-radius: 5px;
    height: 35px;
    display: inline-block;
}

.circle {
    /*Da estilo al div que genera el circulo de la derecha*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9FB7FF;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-top: -23px;
    vertical-align: middle;
    text-align: center;
}

.iconos {
    /*Da estilo a ala section que contiene los iconos de la derecha*/
    width: 180px;
    /*  outline: 5px solid black;*/
    display: inline-block;
    margin-left: 400px;
}

.input {
    /*Da estilo a la section que contiene el input*/
    background: #9FB7FF;
    width: 250px;
    display: inline-block;
    border-radius: 5px;
    height: 35px;
}

.input>input {
    /*Da estilo al input*/
    background: #9FB7FF;
    border: none;
    /*  outline-style: none;*/
}

.logo-trello {
    /*Da estilo a la section que contiene el logo de trello*/
    width: 150px;
    display: inline-block;
    margin: 15px 0px 0px 200px;
}

.inline {
    /*Da estilo a los elementos de section-two*/
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.section-two {
    /* Baja los elementos de la section-two*/
    padding-top: 15px;
}

.section-two>.section-three {
    /*posiciona los elementos de section-three*/
    display: inline-block;
    width: 160px;
    height: 40px;
    margin-left: 750px;
}

.ajuste {
    /*Ajusta la posicion de los iconos y textos de section-two*/
    margin: 0px 15px 0px 15px;
}

.ajuste-dos {
    /*ajusta la estrella y el portafolio*/
    height: 19px;
    margin: 0px 15px 0px 15px;
}

.section-two>article>p:nth-of-type(odd) {
    /*Da estilo al texto tablero-retos*
/*  outline: 5px solid black;*/
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.out {
    /*Ajusta el texto de Mostrar menú*/
    margin-top: 5px;
}

#submit-button {
    /*Da estilo al boton Guardar*/
    display: block;
    background-color: #519839;
    border: none;
    border-radius: 3px;
    width: 90px;
    height: 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
}

article {
    float: left;
}

article>label {
    display: block;
}

article>button {
    border: 0;
}

#textarea {
    float: left;
}

#tasks {
    float: left;
}

#text {
    /*Da estilo al textarea*/
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .05);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-color: #aaa;
    display: block;
    padding-left: 5px;
}

.textarea-two {
    /*Da estilo al div que funciona como fondo del textarea*/
    background-color: #e2e4e6;
    width: 215px;
    height: 82px;
    border-radius: 3px;
    margin-left: 10px;
    min-height: 30px;
    padding: 4px;
    float: left;
}

.enebled-list {
    display: block;
}

.disabled-list {
    display: none;
}

#addList {
    background-color: #005485;
    color: white;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

.font {
    font-family: 'Roboto', sans-serif;
}

#article0 {
    background-color: grey;
    color: white;
}

#btnAdd0 {
    display: block;
    margin-top: 5px;
}

<<<<<<< HEAD
/*ejemplo para darle estilo
#tasks > article > label {
  background-color: red;
}*/
=======
#txaAdd0 {
    display: block;
    margin-top: 150px;
}
>>>>>>> 2a44df2885646ef0d6f2436f77f61ff73a6c3001
